<a href="https://colab.research.google.com/github/maykongpedro/Python_na_Pratica/blob/main/202112_Acessando_dados_do_googlesheets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Script guiado do vídeo da Kizzy no canal Programação Dinâmica. Link do vídeo: [Acessar vídeo](https://youtu.be/8vKvsLTLDzs)


*   !pip install = para instalar um novo pacote/biblioteca
*   --upgrade = para garantir que estamos utilizando a última versão do pacote
*   gspread = pacote para fazer a conexão com o googlesheets

In [ ]:
!pip install --upgrade gspread

Requirement already satisfied: gspread in /usr/local/lib/python3.7/dist-packages (5.0.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from gspread) (0.4.6)
Requirement already satisfied: google-auth>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from gspread) (1.35.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (4.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (1.15.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (4.8)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (57.4.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.23.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.1.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (1.24.3)

Depois disso precisamos autenticar no googlesheets. Para isso podemos pegar um script de exemplo disponível em "arquivo/abrir notebook/exemplos".

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

Não consegui abrir nenhuma planilha do meu drive, não sei porque.

In [ ]:
# spreedsheet = gc.open('rzvol')
# sh = gc.open_by_url('https://docs.google.com/spreadsheets/d/167h8pVO85h52qqyTXTODpTOIg9V-8oyz/edit#gid=396760172')

# sh = gc.create('new_spreedsheet')

Consegui abrir uma nova que criei especificamente pra isso.

In [ ]:
worksheet = gc.open('new_spreedsheet')

In [ ]:
# alocar planihla 1 em um objeto chamado "sh"
sh = worksheet.sheet1

In [ ]:
# exibir primeira linha da planilha
sh.row_values(1)

['mapeamento',
 'fonte',
 'ano_base',
 'uf',
 'estado',
 'municipio',
 'code_muni',
 'nucleo_regional',
 'genero',
 'area_ha']

In [ ]:
# obter conteúdo de uma célula específica
sh.acell('a1').value

'mapeamento'

In [26]:
# obter conteúdo de uma célula específica (outro método)
# linha 1, coluna 3
sh.cell(1, 3).value

'ano_base'

In [ ]:
# alterando algo diretamente na planilha
sh.update_acell('K1', 'col_teste')

{'spreadsheetId': '1RmvEAwVPYsCtVkWm9RCZUFz_v-FeLntQhzf_x0VasK0',
 'updatedCells': 1,
 'updatedColumns': 1,
 'updatedRange': 'dados!K1',
 'updatedRows': 1}

A partir daqui usaremos o pandas para fazer manipulações na base de dados.

In [27]:
import pandas as pd

In [28]:
# obter todos os dados da planilha
base = pd.DataFrame(sh.get_all_records())

In [30]:
# exibir as primeiras linhas da base de dados
base.head()

                mapeamento  ... col_teste
0  IBGE - Não identificado  ...
1  IBGE - Não identificado  ...
2  IBGE - Não identificado  ...
3  IBGE - Não identificado  ...
4  IBGE - Não identificado  ...

[5 rows x 11 columns]

Como realizar filtros na base?
No vídeo a Kizzy usou o método `query`, algumas outras opções podem ser encontradas no seguinte link = https://medium.com/data-hackers/a-maneira-eficiente-de-filtrar-um-data-frame-pandas-4158a4e37c10

In [41]:
dados_2014 = base.query('ano_base == 2014')
dados_2014.head()

                 mapeamento  ... col_teste
0   IBGE - Não identificado  ...
3   IBGE - Não identificado  ...
6   IBGE - Não identificado  ...
9   IBGE - Não identificado  ...
12  IBGE - Não identificado  ...

[5 rows x 11 columns]

Criar uma nova planilha dentro da Woorkbook.

In [42]:
# obter número de linhas
dados_2014.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 0 to 24
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mapeamento       9 non-null      object
 1   fonte            9 non-null      object
 2   ano_base         9 non-null      int64
 3   uf               9 non-null      object
 4   estado           9 non-null      object
 5   municipio        9 non-null      object
 6   code_muni        9 non-null      int64
 7   nucleo_regional  9 non-null      object
 8   genero           9 non-null      object
 9   area_ha          9 non-null      int64
 10  col_teste        9 non-null      object
dtypes: int64(3), object(8)
memory usage: 864.0+ bytes

In [43]:
ano_base_2014 = worksheet.add_worksheet('ano_base_2014', rows = 9, cols = 11)

Agora basta adicionar os dados filtrados nessa nova planilha.
A Kizzy fez usando o método abaixo, porém o pacote mudou e o método update não existe mais, preciso pesquisar como fazer isso de maneira atualizada.

In [45]:
ano_base_2014.update([dados_2014.columns.values.tolist()] + dados_2014.values.tolist())

AttributeError: ignored